<configuration>
  <system.webServer>

    <!-- indicates that the server-faye.js and server-socketio.js files are node.js applications 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode-nfxplanner1" path="server*.js" verb="*" modules="iisnode" />
    </handlers>
    
   <iisnode  
        nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;"   
        interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;" 
        nodeProcessCountPerApplication="2"
        devErrorsEnabled="true"
    />

  </system.webServer>
</configuration>
